
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200&display=swap');

body {
  background-color: rgb(106, 76, 156); /* #6A4C9C */
  color: rgb(106, 76, 156);
  font-family: 'Noto Serif JP', serif;
}

.container-fluid {
  width:  90%;
}

.hw12 {
  border: 1px solid rgb(159, 53, 58);
}

.toprow {
  margin-top: 16px;
}

.bottomrow {
  margin-bottom: 16px;
}


.twenty {
  border: 1px solid #f9eced;
  color: #f9eced;
  padding: 8px;
  font-size: 16pt;
}

.twenty a {
  color:  yellow;
}

.twenty a:hover {
  color: #f9eced;
  font-size:  16pt;
}

svg {
  border: 2px solid rgb(159, 53, 58);
}

path {
  pointer-events: all;
  fill: #f9eced;
  stroke: rgb(159, 53, 58);
  stroke-opacity: 0.95;
  stroke-width: 1px;
}

.active circle {
  stroke: #f9eced;
  stroke-width: 2px;
}

svg g text {
  fill: rgba(255, 255, 255, 0.95);
  background-color: rgba(255, 255, 0, 0.1);
  text-shadow: 0 0 16px #FF0000, 0 0 16px #000000;
  font-size: 24pt;
  text-anchor: middle;
}

.twenty:hover {
    box-shadow: 0 0 5px 3px #f9eced;
    color: cyan; 
    text-shadow: 0 0 6px #FFFFFF, 0 0 6px #000000;
}

img:hover {
    box-shadow: 0 0 1px 1px #f9eced;
    animation-name: happy;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}

@keyframes happy {
    0% {transform: translateY(0px);}
    25% {transform: translateY(-15px);}
    50% {transform: translateY(0px);}
    75% {transform: translateY(-5px);}
    100% {transform: translateY(0px);}
}

img.withborder {
  border: 1px solid #f9eced;
}

/* 揮手 */
.github-corner:hover 
.octo-arm {
  animation: octocat-wave 560ms ease-in-out
}
@keyframes octocat-wave {
  0%,100% {transform:rotate(0)}
  20%,60% {transform:rotate(-25deg)}
  40%,80% {transform:rotate(10deg)}
}
@media (max-width:500px) {
  .github-corner:hover 
  .octo-arm {
    animation:none
  }
  .github-corner 
  .octo-arm {
    animation: octocat-wave 560ms ease-in-out
  }
}

/* 波浪 */
a {
  color:#f30;
  text-decoration: none; 
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 4'%3E%3Cpath fill='none' stroke='%23fff' d='M0 3.5c5 0 5-3 10-3s5 3 10 3 5-3 10-3 5 3 10 3'/%3E%3C/svg%3E") repeat-x 0 100%; 
  background-size:20px auto; 
  animation: waveMove 1s infinite linear;
}
a:hover {
  color:#f30;
  text-decoration: none;
  background: none;
  animation: none;
  text-decoration: underline;
  padding:2px 0;
}
@keyframes waveMove {
  from { background-position:0 100%; }
  to { background-position:20px 100%; }
}
/* 波浪 */

table {
  border-collapse: collapse;
  border: 2px solid white; /* rgba(217,140,144,1) */
  font-size:  12pt;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Noto Serif JP', serif;
}

td,  th {
border: 1px solid white;
padding: 2px 8px;
}

.flipswitch
{
    position: relative;
    background: white;
    width: 120px;
    height: 20px;
    -webkit-appearance: initial;
    border-radius: 3px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    outline:none;
    font-size: 14px;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    cursor:pointer;
    border:1px solid #ddd;
}
.flipswitch:after
{
    position:absolute;
    top:5%;
    display:block; 
    line-height:16px;
    width:45%;
    height:90%;
    background:#fff;
    box-sizing:border-box;
    text-align:center;
    transition: all 0.3s ease-in 0s; 
    color:rgba(159,53,58,1);
    border:#888 1px solid;
    border-radius:3px;
}
.flipswitch:after
{
    left:2%;
    content: "未完成";
}
.flipswitch:checked:after
{
    left:53%;
    content: "完成";
}