:root {
  --purple: #cda9ff;
  --black: #181818;
}

body {
  padding: 0 10vw;
  background-color: var(--black);
  color: var(--purple);
  font-family: "Oxanium", sans-serif;
}

hr {
  height: 1px;
  background-color: #414141;
  border: none;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  margin-right: 1rem;
}

input[type="checkbox"] {
  display: none;
}

input[type="radio"] {
  display: none;
}

.button {
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  color: var(--purple);
  text-decoration:none;
  border: 3px solid var(--purple);
  border-radius: 20px;
  font-weight: bold;
}

.button:hover {
  background-color: var(--purple);
  color: var(--black);
}

.intro {
  display: flex;
  margin: 2.5rem 0;
  justify-content: flex-end;
}

.intro img {
  height: 15rem;
  border-radius: 50%;
}

.intro-text {
  margin: 0 2.5rem;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.intro-content {
  font-size: 1.2rem;
  flex: 1;
}

.intro-button {
  display: flex;
  padding: 1rem 0;
  flex-wrap: wrap;
}

.intro-button-media {
  display: none;
}

.total-score span {
  font-size: 5rem;
}

.homework {
  margin-top: 2.5rem;
  margin-bottom: 3rem;
}

.homework-title {
  display: flex;
  align-items: center;
}

.homework-title label{
  height: fit-content;
}

.homework-title label:hover {
  cursor: pointer;
}

.homework-content {
  display: flex;
  justify-content: flex-end;
}

.right-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.check-list {
  padding: 1.5rem 2.5rem;
  width: 20vw;
  border: 3px solid var(--purple);
  border-radius: 20px;
}

.score {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 0.5rem;
  margin-bottom: 1rem 0;
}

.baseline {
  font-size: 1.2rem;
  font-weight: bold;
}

.baseline-content {
  margin: 1rem 0;
}

.baseline-content label:hover {
  cursor: pointer;
}

.baseline-content label.strikethrough {
  text-decoration: line-through;
  color: #a792c5;
}

.homework-button  {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cross-line {
  flex: 1;
  text-align: center;
  font-size: 2.5vw;
  font-weight: bold;
  color: var(--purple);
}

.cross-line-media {
  display: none;
}

.left-content {
  padding: 1.5rem 2rem;
  margin-right: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
  border: 3px solid var(--purple);
  border-radius: 20px;
}

.video {
  width: 100%;
  display: flex;
  flex: 1;
  margin-bottom: 1rem;
}

.video iframe {
  border-radius: 10px;
}

/* media */

@media (max-width: 1000px) {
  body {
    padding: 0 5vw;
  }

  .button {
    width: fit-content;
  }

  .intro {
    align-items: center;
  }

  .intro img {
    height: 10rem;
  }

  .intro-title {
    font-size: 1.5rem;
  }

  .intro-content {
    font-size: 1rem;
  }

  .intro-button .button {
    font-size: 1rem;
    margin-left: 0;
  }

  .total-score {
    display: none;
  }

  .homework-content {
    flex-direction: column;
  }

  .left-content {
    margin-right: 0;
    margin-bottom: 1rem;
  }

  .video iframe {
    width: 100%;
    height: 50vw;
  }

  .right-content {
    width: 100%;
    flex-direction: row;
  }

  .check-list {
    display: none;
  }

  .cross-line {
    font-size: 4vw;
  }

  .cross-line-media {
    display: block;
  }
}

@media (max-width: 620px) {
  .intro {
    margin-bottom: 0;
  }

  .intro-text {
    margin: 0 1.5rem;
  }

  .intro-button {
    display: none;
  }

  .intro-button-media {
    display: flex;
  }
}