:root {
  --purple: #cda9ff;
  --black: #181818;
}

body {
  padding: 0 10vw;
  background-color: var(--black);
  color: var(--purple);
  font-family: sans-serif;
}

hr {
  height: 1px;
  background-color: #414141;
  border: none;
}

input[type="checkbox"] {
  display: none;
}

.intro {
  display: flex;
  margin: 2.5rem 0;
  justify-content: flex-end;
}

.intro img {
  border-radius: 50%;
}

.intro-text {
  margin: 0 2rem;
  flex: 1;
}

.total-score span {
  font-size: 5rem;
}

.homework {
  margin: 2.5rem 0;
}

.homework-content {
  display: flex;
  justify-content: flex-end;
}

.right-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.check-list {
  padding: 1.5rem 2.5rem;
  border: 3px solid var(--purple);
  border-radius: 20px;
}

.score {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 0.5rem;
  margin-bottom: 1rem 0;
}

.baseline {
  font-size: 1.2rem;
  font-weight: bold;
}

.baseline-content {
  margin: 1rem 0;
}

.baseline-content label:hover {
  cursor: pointer;
}

.baseline-content label.strikethrough {
  text-decoration: line-through;
  color: #a792c5;
}

.homework-button  {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.homework-button a {
  padding: 0.5rem 1rem;
  color: var(--purple);
  text-decoration:none;
  border: 3px solid var(--purple);
  border-radius: 20px;
  font-weight: bold;
}

.homework-button a:hover {
  background-color: var(--purple);
  color: var(--black);
}

.cross-line {
  flex: 1;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: var(--purple);
}

.left-content {
  padding: 1.5rem 2rem;
  margin-right: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
  border: 3px solid var(--purple);
  border-radius: 20px;
}

.video {
  width: 100%;
  display: flex;
  flex: 1;
  margin-bottom: 1rem;
}

.video iframe {
  border-radius: 10px;
}